# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-aarch64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=51_gnu
archspec
boltons
brotli
brotli-bin
brotli-python
bzip2
c-ares
ca-certificates
cairo
catch2
certifi
cffi
charset-normalizer
cmake
colorama
conda
conda-libmamba-solver
conda-package-handling
conda-package-streaming
contourpy
cycler
distro
eigen
exceptiongroup
expat
fmt
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-conda-ecosystem
fonts-conda-forge
fonttools
freetype
frozendict
icu
idna
importlib-resources
importlib_resources
iniconfig
jsonpatch
jsonpointer
keyutils
kiwisolver
krb5
lcms2
ld_impl_linux-aarch64
lerc
libarchive
libblas
libbrotlicommon
libbrotlidec
libbrotlienc
libcblas
libcurl
libdeflate
libedit
libev
libexpat
libffi
libgcc-ng
libgfortran-ng
libgfortran5
libglib
libgomp
libiconv
libjpeg-turbo
liblapack
libmamba
libmambapy
libnghttp2
libnsl
libopenblas
libpng
libsolv
libsqlite
libssh2
libstdcxx-ng
libtiff
libuuid
libuv
libwebp-base
libxcb
libxml2
libzlib
lz4-c
lzo
matplotlib
matplotlib-base
menuinst
munkres
ncurses
numpy
openjpeg
openssl
packaging
pandas
pcre2
pillow
pip
pixman
pkg-config
platformdirs
pluggy
pthread-stubs
pybind11-abi
pycosat
pycparser
pyparsing
pysocks
pytest
python
python-dateutil
python-tzdata
python_abi
pytz
qhull
readline
reproc
reproc-cpp
requests
rhash
ruamel.yaml
ruamel.yaml.clib
setuptools
six
tk
tomli
tornado
tqdm
tzdata
unicodedata2
urllib3
wheel
xorg-kbproto
xorg-libice
xorg-libsm
xorg-libx11
xorg-libxau
xorg-libxdmcp
xorg-libxext
xorg-libxrender
xorg-renderproto
xorg-xextproto
xorg-xproto
xz
yaml-cpp
zipp
zlib
zstandard
zstd
